<ng-template
  #customCellTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
  let-daysInWeek="daysInWeek"
>
  <div class="absolute left-0 h-16 w-14 bg-white z-0 border-r-2"></div>

  <div
    class="z-10 justify-end h-full sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right flex flex-col text-xs leading-5 text-gray-400"
  >
    <h1 class="translate-y-1/2" [ngClass]="segment.isStart ? '' : 'hidden'">
      {{
        segment.displayDate
          | calendarDate
            : (daysInWeek === 1 ? "dayViewHour" : "weekViewHour")
            : locale
      }}
    </h1>
  </div>
</ng-template>

<div class="flex-1 min-h-0 flex flex-row inset-0">
  <div class="flex flex-col w-full md:w-7/12">
    <div class="md:hidden w-full flex flex-row px-2 justify-between border-b-2">
      <div
        className="sticky top-0 z-10 grid flex-none grid-cols-7 bg-white text-xs text-gray-500 shadow ring-1 ring-black ring-opacity-5 md:hidden"
        *ngFor="let day of days"
      >
        <button type="button" class="flex flex-col items-center pt-3 pb-1.5">
          <span>{{ format(day.date, "eeeee") }}</span>
          <span
            className="mt-3 flex h-8 w-8 items-center justify-center rounded-full text-base font-semibold text-gray-900"
            (click)="updateDate(day.date)"
            [ngClass]="
              isSelectedDate(day.date)
                ? 'bg-black rounded-full p-1 text-white'
                : day.isToday
                ? 'text-blue-600'
                : 'text-black'
            "
          >
            {{ format(day.date, "d") }}
          </span>
        </button>
      </div>
    </div>
    <div class="overflow-y-auto">
      <div class="">
        <mwl-calendar-day-view
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [hourSegmentTemplate]="customCellTemplate"
          [hourSegmentHeight]="60"
          [hourSegments]="2"
        >
        </mwl-calendar-day-view>
        <div class="hidden">
          <mwl-calendar-week-view
            #dayComponent
            [viewDate]="viewDate"
            [refresh]="refresh"
          ></mwl-calendar-week-view>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full hidden md:flex md:flex-row md:w-5/12">
    <div class="w-full m-2 md:m-4 filter">
      <div class="w-full rounded-xl border-2">
        <month-view
          [viewDate]="viewDate"
          [refresh]="refresh"
          [events]="events"
          [showEvents]="false"
        ></month-view>
      </div>
    </div>
  </div>
</div>
