<ng-template
  #customCellTemplate
  let-day="day"
  let-locale="locale"
  class="min-h-12"
>
  <button
    class="p-1 h-full aspect-square flex flex-col items-start hover:bg-blue-50 transition duration-100 justify-start"
    [ngClass]="[day.inMonth ? 'bg-white' : 'bg-gray-50']"
    (click)="updateDate(day.date)"
  >
    <time
      [dateTime]="day.date"
      [ngClass]="[
        isSelectedDate(day.date)
          ? isToday(day.date)
            ? 'flex h-6 w-6 items-center justify-center rounded-full bg-indigo-600 font-semibold text-red-200'
            : 'flex h-6 w-6 items-center justify-center rounded-full bg-indigo-600 font-semibold text-white'
          : isToday(day.date)
          ? 'text-red-600 font-bold'
          : ''
      ]"
    >
      {{ day.date.getDate() }}
    </time>

    <div
      *ngIf="day.events.length > 0 && showEvents && tooSmallForEvents"
      class="w-full justify-start items-start flex flex-col"
    >
      <ol class="mt-2 xl:w-44 lg:w-32 md:w-24 sm:w-14 w-10 text-xs md:text-sm">
        <li *ngFor="let event of day.events.slice(0, 2)">
          <a href="" class="group flex">
            <p
              class="flex-auto truncate font-medium text-gray-900 group-hover:text-indigo-600"
            >
              {{ event.title }}
            </p>
            <time
              class="ml-3 hidden flex-none text-gray-500 group-hover:text-indigo-600 xl:block"
            >
            </time>
          </a>
        </li>

        <li class="text-gray-500">+ {{ day.events.length - 2 }} more</li>
      </ol>
    </div>
  </button>
</ng-template>

<ng-template #customHeaderTemplate>
  <div
    class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none"
  >
    <div class="bg-white py-2">
      M<span class="sr-only sm:not-sr-only">on</span>
    </div>
    <div class="bg-white py-2">
      T<span class="sr-only sm:not-sr-only">ue</span>
    </div>
    <div class="bg-white py-2">
      W<span class="sr-only sm:not-sr-only">ed</span>
    </div>
    <div class="bg-white py-2">
      T<span class="sr-only sm:not-sr-only">hu</span>
    </div>
    <div class="bg-white py-2">
      F<span class="sr-only sm:not-sr-only">ri</span>
    </div>
    <div class="bg-white py-2">
      S<span class="sr-only sm:not-sr-only">at</span>
    </div>
    <div class="bg-white py-2">
      S<span class="sr-only sm:not-sr-only">un</span>
    </div>
  </div>
</ng-template>

<div class="flex flex-col overflow-auto">
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [cellTemplate]="customCellTemplate"
    [headerTemplate]="customHeaderTemplate"
    class=""
  >
  </mwl-calendar-month-view>
</div>
